.App {
  margin: 16px;
  margin-bottom: 32px;
}

.lock {
  margin-bottom: 20px;
  margin-top: 20px;
}

.lock-btn {
  font-size: 22px;
  height: 100px;
}

.lock-btn > img {
  height: 100%;
}

.lock-btn:not(:disabled):not(.disabled) {
  background-color: limegreen;
}

.home, img {
  max-width: 100%;
}

.cookie-box {
  height: 200px;
  margin: 5px;
}

.cookie-name {
  color: black;
  height: 70px;
  margin: 5px;
}
